.active
{
    animation: activeAnimation 4s infinite ease-in-out alternate;
}

@keyframes activeAnimation
{
    0% {
        background-color: rgba(255, 255, 255, 0);
        transform: rotate(-1deg);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.05);
        transform: rotate(1deg);
    }
}